<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>단어 테스트</title>

    <!-- jQuery -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- jsRender -->
    <script src="../static/js/jsrender.min.js"></script>
    <!-- jsViews -->
    <script src="../static/js/jsviews.min.js"></script>

    <link rel="import" href="range-select.html">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" href="../static/css/style.css">


    <!-- Modernizr JS -->
    <script src="../static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container"></body>

<script>
    var domain = "http://localhost:8080";
    var tmpBookId = 1;

    var event = {
        requestData: function() {
            var start = $('#start').val();
            var end = $('#end').val();

            $.ajax({
                url: domain + '/api/books/' + tmpBookId + '/vocas' + '?start=' + start + '&end=' + end,
                method: "get"
            }).done(function (res) {
                console.log('SUCCESS', res[0]);
            }).fail(function (res) {
                console.log('ERROR', res);
            });
        }
    };

    $(window).load(function () {
        console.log('load');

        renderRangeSelectHtml()
            .then(function (data) {
                var tmpl = $.templates(data);
                tmpl.link('body', null, event);
            });
    });

    // function renderRangeSelectHtml() {
    //     return new Promise(function (resolve, reject) {
    //         $.get('range-select.html', function (response) {
    //             resolve(response);
    //             reject(response);
    //         });
    //     });
    // }

    (function () {
        function render(data) {
            const json = JSON.parse(data);
            root.innerHTML = `<h1>${json.title}</h1><p>${json.content}</p>`;

            const tmpl = $.templates(data);
            tmpl.link('body', null, event);
        }

        function get(url) {
            return new Promise(function (resolve, reject) {
                $.get(url, function (response) {
                    resolve(response);
                    reject(response);
                });
            });
        }

        const routes = {
            '': function () {
                get('range-select.html')
                    .then(res => render(res));
            },
            'service': function () {
                get('/data/service.json')
                    .then(res => render(res));
            },
            'about': function () {
                get('/data/about.html')
                    .then(res => renderHtml(res));
            },
            otherwise() {
                root.innerHTML = `${location.hash} Not Found`;
            }
        };

        function router() {
            const hash = location.hash.replace('#', '');
            (routes[hash] || routes.otherwise)();
        }

        // 내비게이션을 클릭하면 uri의 hash가 변경된다. 주소창의 uri가 변경되므로 history 관리가 가능하다.
        // 이때 uri의 hash만 변경되면 서버로 요청을 수행하지 않는다.
        // 따라서 uri의 hash가 변경하면 발생하는 이벤트인 hashchange 이벤트를 사용하여 hash의 변경을 감지하여 필요한 AJAX 요청을 수행한다.
        // hash 방식의 단점은 uri에 불필요한 #이 들어간다는 것이다.
        $(window).bind( 'hashchange', function(){});
    }());
</script>

<!-- Bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Placeholder -->
<script src="../static/js/jquery.placeholder.min.js"></script>
<!-- Waypoints -->
<script src="../static/js/jquery.waypoints.min.js"></script>
<!-- Main JS -->
<script src="../static/js/main.js"></script>
</html>