<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>단어 테스트</title>
    <!-- 도움되는 콘솔 경고를 포함한 개발 버전 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 상용버전, 속도와 용량이 최적화됨. -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
</head>
<body>
<p data-th-text="${book.name}"></p>
<div id="voca-test">
    <div v-show="step === 'form'">
        <p>범위</p>
        <input type="number" v-model="start"/> 부터 <input type="number" v-model="end"/> 까지<br>
        <input type="checkbox" v-model="includeDerivative"> 파포 여부 <br>
        <button v-on:click="requestTestData">요청하기</button>
    </div>
    <button v-show="step === 'ready'" v-on:click="startTest">시작하기!</button>
    <p v-show="step === 'progress'">{{vocaList[index]}}</p>
    <button v-show="step === 'end'" v-on:click="openCorrectAnswer">정답확인</button>
    <div v-show="step === 'openCorrectAnswer'">
        <ol>
            <li v-for="voca in vocaList">
                {{voca.english}}    {{voca.korean}}     {{voca.derivative}}     {{voca.chapterName}}
            </li>
        </ol>
    </div>
    <div>{{step}}</div>
</div>

</body>
<script>
    var vm = new Vue({
        el: '#voca-test',
        data: {
            index: 0,
            step: 'form',
            bookId: [[${book.id}]],
            start: 1,
            end: 3,
            includeDerivative: false,
            size:'',
            vocaList: []
        },
        methods: {
            requestTestData: function () {
                var self = this;
                var requestUrl = function () {
                    var url = '/api/books/' + self.bookId + '/vocas' + '?start=' + self.start + '&end=' + self.end;
                    if (this.includeDerivative) {
                        url += '&derivative=true';
                    }
                    if (this.size.length) {
                        url += '&size=' + this.size;
                    }

                    return url;
                };

                console.log(requestUrl());
                axios.get(requestUrl())
                    .then(function (response) {
                        console.log(response);
                        self.step = 'ready';
                        self.vocaList = response.data;
                        console.log(self.vocaList);
                    })
                    .catch(function (error) {
                        self.answer = '에러! API 요청에 오류가 있습니다. ' + error
                    })
            },
            startTest: function () {
                this.step = 'progress';
                var self = this;
                //TODO 별도의 컴포넌트를 선언해서 카로셀로 빌드 한다음에 보여주는 방식은 어떨까
                var start = setInterval(function () {
                    self.index++;
                    if (self.index >= self.vocaList.length - 1) {
                        clearInterval(start);
                        self.step = 'end';
                    }
                }, 1000);

            },
            openCorrectAnswer: function () {
                this.step = 'openCorrectAnswer';
            }
        }
    })
</script>
</html>