<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="js-voca-form fh5co-form">
            <h2>단어장 관리</h2>
            <form class="form-group" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                <input type="file" name="files"/><br/><br/>
                <input type="file" name="files"/><br/><br/>
                <input type="button" data-link="{on ~addVocas}" id="btnSubmit" class="btn btn-primary" value="저장"/>
            </form>
        </form>
    </div>
</div>

