<div class="row">
    <div style="height: 90vh; margin-top: 0em; background-image: url('../static/images/background.jpeg')"
         class="fh5co-form" data-animate-effect="fadeIn">
        <p style="top:26%; position:relative; font-size: 1.8em" class="text-center">
            {^{:progress^index + 1}}
        </p>
        <h1 style="top:28%; position: relative; color:black" class="voca-text text-center">
            {^{:progress^english}}
        </h1>
    </div>
</div>
<div style="margin-bottom: 10px" class="row">
    <div class="col-md-12 text-center">
        <ul class="menu">
            <li><a href="#">범위 선택 화면으로</a></li>
        </ul>
    </div>
</div>