<div class="row">
    <div style="height: 80vh; background-image: url('../static/images/black-label.png'); background-size: 100% auto; background-repeat: no-repeat; background-position: center;"
         class="fh5co-form" data-animate-effect="fadeIn">
        <p style="top: 40vh; position: relative" class="text-center">
            {^{:start}}과 ~ {^{:end}}과
            {^{if includeDerivative}}
            <span> (파생어 포함)</span>
            {{/if}}
        </p>
        <input type="button" id="start-btn" data-link="{on ~startTest}" style="top: 45vh; position: relative"
               value="시작하기" class="btn btn-primary center-block"/>
    </div>
</div>
<div style="margin-bottom: 10px" class="row">
    <div class="col-md-12 text-center">
        <ul class="menu">
            <li><a href="#">범위 선택 화면으로</a></li>
        </ul>
    </div>
</div>

